body { 
	background-color: #fff; 
	color: #333; 
	background-image: url('/images/bg.jpg');
	text-align: center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
	margin-top: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
	margin: auto;
	border: 0;
}
#container tr {
	background-color: black;
	border-bottom: 15px solid black;
}
.separator {
	background-color: transparent;
	height: 15px;
}
.japaneses {
	padding: 15px;
}
.japaneses td {
	font-size: 25px;
	font-family: Arial;
	vertical-align: top;
	line-height: 20px;
}
.japaneses td a {
	color: gray;
}
.japanese {
	text-align: left;
}
.swedish {
	text-align: right;
}
.kana {
	font-size: 15px;
}
.red {
	color: #DE0052;
}
.green {
	color: #78E700;
}
.menu {
	position: absolute;
	top: 0px;
	right: 0px;
}
.notice {
	color: green;
	position: absolute;
	left: 0px;
	top: -30px;
}
form textarea {
	height: 30px;
}
.week big{
	font-size: 8em;
	line-height: 1em;
}
.week {
	background-color: #faf3e4;
	padding: 15px;
	vertical-align: middle;
	text-align: center;
	border: 15px solid black;
}